include ../mixins/mixins
footer.footer
	.container
		.title Жироуловители Термит
		a(href="tel:89210581000", title="Позвонить по +7-921-058-1000").text +7-921-058-1000
		a(href="mailto:septik35@inbox.ru", title="Написать нам на septik35@inbox.ru").text septik35@inbox.ru

.btn-menu.wrap
	.btn-menu__content.wrap
		ul.list.wrap
			li.list__item.mob 
				a(href="/")
					img(src="/dist/img/logo.png", alt="Логотип Термит")
			li.list__item 
				a(href="#main")
					.text Главная
			li.list__item 
				a(href="#our")
					.text Наши преимущества
			li.list__item 
				a(href="#catal")
					.text КАТАЛОГ
			li.list__item 
				a(href="#our2")
					.text ПРЕИМУЩЕСТВА ЖИРОУЛОВИТЕЛЕЙ
			li.list__item 
				a(href="#princip")
					.text ПРИНЦИП РАБОТЫ
			li.list__item 
				a(href="#tray")
					.text СЪЕМНЫЙ ЛОТОК
			li.list__item 
				a(href="#install")
					.text УСТАНОВКА
			li.list__item 
				a(href="#clients")
					.text Постоянные покупатели
			li.list__item 
				a(href="#sert")
					.text Сертификаты
			li.list__item.mob 
				a(href="tel:89210581000", title="Позвонить по номеру 8 921 058 1000").phone 8 921 058 1000
			li.list__item.mob 
				a(href="tel:88007003461", title="Позвонить по номеру 8 800 700 3461").phone 8 800 700 3461
		button(class="hamburger hamburger--arrow", type="button")
			.btn-menu__caption
				.title Меню
			span.hamburger-box
				span.hamburger-inner
include ../include/main/modal