include ../mixins/mixins
header.header.hide
	+space
	.container.header__container
		.header__logo.wrap
			a(href="/", title="title") 
				img(src="/dist/img/logo.png", alt="Логотип Термит").header__img
			.text.header__text ЖИРОУЛОВИТЕЛИ ДЛЯ КАФЕ И РЕСТОРАНОВ
		.header__contacts.wrap
			.header__phones.wrap-i
				a(href="tel:89210581000", title="Позвонить по номеру 8 921 058 1000").header__phone 8 921 058 1000
				a(href="tel:88007003461", title="Позвонить по номеру 8 800 700 3461").header__phone 8 800 700 3461
			.btn-primary.order_request Заказать звонок!