.advantage
    .container
        .container__content.wrap
            .container__title
                h2.title Наши преимущества
            .container__blocks.wrap
                .container__block.wrap
                    .icon-shield.wrap
                    .content.wrap
                        .title Гарантия качества
                        .text На все жироуловители гарантия 2 года. 
                        .text Срок службы жироуловителя не менее 50лет
                .container__block.wrap
                    .icon-thumbs-up.wrap
                    .content.wrap
                        .title Опытные менеджеры
                        .text Наши менеджеры - профессионалы своего дела. Они организованы на отлично и знают свое дело и подскажут какой жироуловитель вам выбрать.
                .container__block.wrap
                    .icon-truck.wrap
                    .content.wrap
                        .title Доставка
                        .text Отправляем жироуловители по всей России.
                        .text Отгружаем жироуловитель в день заказа
                .container__block.wrap
                    .icon-card.wrap
                    .content.wrap
                        .title Оплата
                        .text Безналичный расчет.
                        .text Перевод на карту Сбербанка.
                        .text Оплата в кассу ТК при получении.