.advantage-2
    .container
        .container__content.wrap
            .container__title
                h2.title ПРЕИМУЩЕСТВА ЖИРОУЛОВИТЕЛЕЙ ТЕРМИТ
            .container__block
                figure
                    img(src="/dist/img/advantage.png", alt="ПРЕИМУЩЕСТВА ЖИРОУЛОВИТЕЛЕЙ ТЕРМИТ")