.catalog
    .container
        .container__content.wrap
            .container__title
                h2.title КАТАЛОГ ЖИРОУЛОВИТЕЛЕЙ ТЕРМИТ
                .text Выберите жироуловитель и оформите заказ!
            .container__blocks.wrap

                .container__block.section
                    figure
                        img(src="/dist/img/p1.jpg",title="Термит").section__img
                        figcaption.title Жироуловитель 0.5-25
                    ul.list
                        li.list__item.wrap
                            .title Производительность, м3/час:
                            .text 0.5
                        li.list__item.wrap
                            .title Пиковый сброс, л:
                            .text 25
                        li.list__item.wrap
                            .title Высота входа, мм:
                            .text 240
                        li.list__item.wrap
                            .title Высота выхода, мм:
                            .text 220
                        li.list__item.wrap
                            .title Длина, мм:
                            .text 450
                        li.list__item.wrap
                            .title Ширина, мм:
                            .text 350
                        li.list__item.wrap
                            .title Высота, мм:
                            .text 400
                        li.list__item.wrap
                            .title Масса, кг:
                            .text 7
                    .price.wrap
                        .price__old.text 6900 руб
                        .price__new.title  4500 руб
                    .btn-primary.order Оформить заказ

                .container__block.section
                    figure
                        img(src="/dist/img/p1.jpg",title="Термит").section__img
                        figcaption.title Жироуловитель 0.5-25
                    ul.list
                        li.list__item.wrap
                            .title Производительность, м3/час:
                            .text 0.5
                        li.list__item.wrap
                            .title Пиковый сброс, л:
                            .text 25
                        li.list__item.wrap
                            .title Высота входа, мм:
                            .text 240
                        li.list__item.wrap
                            .title Высота выхода, мм:
                            .text 220
                        li.list__item.wrap
                            .title Длина, мм:
                            .text 450
                        li.list__item.wrap
                            .title Ширина, мм:
                            .text 350
                        li.list__item.wrap
                            .title Высота, мм:
                            .text 400
                        li.list__item.wrap
                            .title Масса, кг:
                            .text 7
                    .price.wrap
                        .price__old.text 6900 руб
                        .price__new.title  4500 руб
                    .btn-primary.order Оформить заказ

                .container__block.section
                    figure
                        img(src="/dist/img/p1.jpg",title="Термит").section__img
                        figcaption.title Жироуловитель 0.5-25
                    ul.list
                        li.list__item.wrap
                            .title Производительность, м3/час:
                            .text 0.5
                        li.list__item.wrap
                            .title Пиковый сброс, л:
                            .text 25
                        li.list__item.wrap
                            .title Высота входа, мм:
                            .text 240
                        li.list__item.wrap
                            .title Высота выхода, мм:
                            .text 220
                        li.list__item.wrap
                            .title Длина, мм:
                            .text 450
                        li.list__item.wrap
                            .title Ширина, мм:
                            .text 350
                        li.list__item.wrap
                            .title Высота, мм:
                            .text 400
                        li.list__item.wrap
                            .title Масса, кг:
                            .text 7
                    .price.wrap
                        .price__old.text 6900 руб
                        .price__new.title  4500 руб
                    .btn-primary.order Оформить заказ

                .container__block.section
                    figure
                        img(src="/dist/img/p1.jpg",title="Термит").section__img
                        figcaption.title Жироуловитель 0.5-25
                    ul.list
                        li.list__item.wrap
                            .title Производительность, м3/час:
                            .text 0.5
                        li.list__item.wrap
                            .title Пиковый сброс, л:
                            .text 25
                        li.list__item.wrap
                            .title Высота входа, мм:
                            .text 240
                        li.list__item.wrap
                            .title Высота выхода, мм:
                            .text 220
                        li.list__item.wrap
                            .title Длина, мм:
                            .text 450
                        li.list__item.wrap
                            .title Ширина, мм:
                            .text 350
                        li.list__item.wrap
                            .title Высота, мм:
                            .text 400
                        li.list__item.wrap
                            .title Масса, кг:
                            .text 7
                    .price.wrap
                        .price__old.text 6900 руб
                        .price__new.title  4500 руб
                    .btn-primary.order Оформить заказ

                .container__block.section
                    figure
                        img(src="/dist/img/p1.jpg",title="Термит").section__img
                        figcaption.title Жироуловитель 0.5-25
                    .price.wrap
                        .price__old.text 6900 руб
                        .price__new.title  4500 руб
                    .btn-primary.order Оформить заказ