.clients
    .container
        .container__content.wrap
            .container__title
                h2.title Постоянные покупатели жироуловителей "Термит"
                .text На постоянной основе мы снабжаем жироуловителями большинство торговых сетей по всей России. Благодаря доступности и качеству, "Термит" используют в следующих сетях:
            .container__blocks.wrap
                .container__block 
                    figure
                        img(src="/dist/img/cl-1.png", alt="alt")
                .container__block 
                    figure
                        img(src="/dist/img/cl-2.png", alt="alt")
                .container__block 
                    figure
                        img(src="/dist/img/cl-3.png", alt="alt")
                .container__block 
                    figure
                        img(src="/dist/img/cl-4.png", alt="alt")
                .container__block 
                    figure
                        img(src="/dist/img/cl-5.png", alt="alt")
                .container__block 
                    figure
                        img(src="/dist/img/cl-6.png", alt="alt")
                .container__block 
                    figure
                        img(src="/dist/img/cl-7.png", alt="alt")
                .container__block 
                    figure
                        img(src="/dist/img/cl-8.png", alt="alt")
                .container__block 
                    figure
                        img(src="/dist/img/cl-9.jpg", alt="alt")
                .container__block 
                    figure
                        img(src="/dist/img/cl-10.jpg", alt="alt")   