.base
    .container
        .container__content.wrap
            .container__title
                h1.title ЖИРОУЛОВИТЕЛИ ДЛЯ КАФЕ И РЕСТОРАНОВ
            .container__blocks.wrap
                .container__block.section
                    .title РАСПРОДАЖА ЖИРОУЛОВИТЕЛЕЙ
                    .price.wrap
                        .price__caption.title по цене от 
                        .price__old.text 6900 руб
                        .price__new.title  4500 руб
                    .section__block.wrap
                        include timer
                .container__block.section
                    .title Жироуловитель под мойку
                    ul.list
                        li.list__item.wrap
                            .icon-check
                            .text Оплата за жироуловитель при получении
                        li.list__item.wrap
                            .icon-check
                            .text Доставка жироуловителей по всей России
                        li.list__item.wrap
                            .icon-check
                            .text Срок службы жироуловителя 50 лет
                        li.list__item.wrap
                            .icon-check
                            .text Склад с жироуловителями в Санкт-Петербурге
                    ul.list
                        li.list__item.wrap
                            .icon-mark
                            .text Пункт самовывоза г.Санкт-Петербург ул. Партизана Германа д. 33 к.3      (по предварительной договоренности)
                        li.list__item.wrap
                            .icon-phone
                            .text 
                                a(href="") к.т. 8 950 032 0006