.install
    .container
        .container__content.wrap
            .container__title
                h2.title УСТАНОВКА ЖИРОУЛОВИТЕЛЯ
            .container__blocks.wrap
                .container__block.wrap
                    .title.wrap 1
                    figure
                        img(src="/dist/img/install-1.jpg", alt="alt")
                        figcaption
                            .text Выбираем место под мойкой или рядом, это требуется для того чтобы, жироуловитель подошел по размеру. Подготавливем все соединительные элементы, для направления стоков из мойки, а также отвод из жироулавливателя в общую трубу сточной канализации.
                .container__block.wrap
                    .title.wrap 2
                    figure
                        img(src="/dist/img/install-2.jpg", alt="alt")
                        figcaption
                            .text Стоки из мойки направляются в среднюю камеру и через нижнее отверстие попадают самотеком в левую часть жироуловителя. Далее очищенная от жира и твёрдых частиц вода приподнимается снизу вверх в третьей камере жироуловителя и направляется в трубу канализации.