.modal.modal_request
    .container
        .container__content
            .btn-close
                .icon-close
            .container__blocks.wrap
                .title Заявка
                form.form
                    .form__block.wrap
                        label(for="name") Имя
                        input(id="name" type="text" name="name" required)
                    .form__block.wrap
                        label(for="tel") Телефон
                        input(id="tel" type="tel" class="tel" required)
                    input(type="submit" class="btn-primary" value="Заказать звонок")
.modal.modal_order
    .container
        .container__content
            .btn-close
                .icon-close
            .container__blocks.wrap
                .title Заявка
                form.form
                    .form__block.wrap
                        label(for="name") Имя
                        input(id="name" type="text" name="name" required)
                    .form__block.wrap
                        label(for="tel") Телефон
                        input(id="tel" type="tel" class="tel" required)
                    .form__block.wrap
                        label(for="email") Email
                        input(id="email" type="email")
                    input(type="submit" class="btn-primary" value="Заказать звонок")
