.principle
    .container
        .container__content.wrap
            .container__title
                h2.title ПРИНЦИП РАБОТЫ ЖИРОУЛОВИТЕЛЯ
            .container__block
                figure.wrap
                    img(src="/dist/img/PRINCIPLE.png", alt="ПРИНЦИП РАБОТЫ ЖИРОУЛОВИТЕЛЯ")
                    figcaption
                        .text Жироуловитель представляет собой цельнолитую пластиковую ёмкость, внутренний объём которой разделён на три камеры. Стоки с содержанием жира (и крупных частиц) самотёком направляются в среднюю камеру устройства, где жир всплывает на поверхность воды, а твёрдые вещества и отходы оседают на дно ёмкости. Вслед за этим стоки попадают в первую камеру жироловки и по низу перетекают в последнюю камеру, поднимаясь к выходному отверстию и далее в канализацию.
                        ul.list
                            li.list__item.wrap
                                .icon-circle
                                .text жиры и масла, как более лёгкие фракции, поднимаются вверх;
                            li.list__item.wrap
                                .icon-circle
                                .text твёрдые частицы осаждаются на дно;
                            li.list__item.wrap
                                .icon-circle
                                .text очищенная вода стекает в канализацию через выходное отверстие.
                        .text В результате вероятность засорения канализации многократно снижается. Жиры и осадок постепенно накапливаются внутри емкости, в связи с чем необходима периодическая чистка жироуловителя, которую без труда можно выполнять самостоятельно, удаляя скопившийся жир. Жироуловитель герметично закрывается крышкой с фиксаторами и резиновым уплотнением. Жироуловитель под мойку чаще всего применяют в ресторанах и кафе.
                            