.sertificats
    .container
        .container__content.wrap
            .container__title
                h2.title ПРОДУКЦИЯ СЕРТИФИЦИРОВАНА
                .text В результате проверки — эффективность очистки воды жироуловителем «ТЕРМИТ» составила:
            ul.list
                li.list__item.wrap
                    .icon-circle
                    .text эффективность очистки по взвешенным веществам составила — 98,06%
                li.list__item.wrap
                    .icon-circle
                    .text эффективность очистки по БПК составила — 93,7%
                li.list__item.wrap
                    .icon-circle
                    .text эффективность очистки по жирам составила — 86,7%
            .container__blocks.wrap#gallery
                a(href="/dist/img/s1.png")
                    img(src="/dist/img/s1.png", alt="alt")
                    .text Заключение санитарно-эпидемиологической экспертизы жироуловителя "Термит" (стр. 1)
                a(href="/dist/img/s2.png")
                    img(src="/dist/img/s2.png", alt="alt")
                    .text Заключение санитарно-эпидемиологической экспертизы жироуловителя "Термит" (стр. 2)
                a(href="/dist/img/s3.png")
                    img(src="/dist/img/s3.png", alt="alt")
                    .text Заключение санитарно-эпидемиологической экспертизы жироуловителя "Термит" (стр. 3)