script
    |    var myCountdown5 = new Countdown({
    |    year: new Date().getFullYear(), // I'm cheating here... so I don't have to update this every year!
    |    month:4, 
    |    day:10, 
    |    width:250, 
    |    height:60,
    |    rangeHi: "day", 
    |    numbers:{
    |            font 	: "Arial",
    |            color	: "#FFFFFF",
    |            bkgd	: "#2F4A7C",
    |            rounded	: 0.15,
    |            shadow	: {
    |                        x : 0,
    |                        y : 3,
    |                        s : 4,
    |                        c : "#000000",
    |                        a : 0.4	
    |                        }
    |        }
    |    });
