.tray
    .container
        .container__content.wrap
            .container__title
                h2.title СЪЕМНЫЙ ЛОТОК ДЛЯ МУСОРА
            .container__block
                figure.wrap
                    img(src="/dist/img/PRINCIPLE.png", alt="ПРИНЦИП РАБОТЫ ЖИРОУЛОВИТЕЛЯ")
                    figcaption
                        .text Лоток для мусора легко крепится в любой жироуловитель «ТЕРМИТ» (от 0,5-25 до 1-80). Размещается у входящего патрубка, накапливая весь поступающий из мойки крупный мусор, твёрдые отходы, остатки еды. Не даёт твёрдым отходам оседать на дне жироуловителя. Легко очищается. Сверху прижимается крышкой.