//- Для наполнения header'a
include ../mixins/mixins
doctype
+space
html
	+space
	head
		title 
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(content="" name="description")
		meta(content="" name="keywords")

		link(rel="stylesheet" href="/dist/css/all.css")
		script(src="/dist/js/assets/countdown.js")
	
	+space
	// body
	body

		block header
		+space
		
		block main
		+space
		
		block footer
		+space

		|	<!-- Подключённые скрипты -->
		script(src="/dist/js/all-min.js")
		script(src="/dist/js/assets/lightgallery.min.js")
		script(src="/dist/js/assets/lg-fullscreen.min.js")
		script(src="/dist/js/assets/lg-zoom.min.js")
		script(src="/dist/js/assets/jquery.maskedinput.min.js")
		include ../include/main/lg